* {
    margin: 0;
    padding: 0;
}

.center {
    width: 1600px;
    margin: 0 auto;
}

header {
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_text {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content {
    height: 400px;
    display: flex;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer {
    height: 200px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.user_img {
    width: 300px;
    
}