<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="center">
        <p class="header_text">About me</p>
    </header>
    <div class="content center">
        <img src="../static/images/student.jpg" alt="user image" class="user_img">
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, quis repellendus quo
            blanditiis
            repudiandae vitae, tenetur cum laboriosam neque in molestiae illo laborum saepe nam aut! Odio illo enim
            beatae vero
            tempore qui natus? Nesciunt, porro quo! Voluptates totam quae laudantium quia vitae delectus inventore,
            eveniet
            provident similique eos nemo cum minus porro. Nemo in vitae distinctio maiores ipsum atque perferendis
            reiciendis
            quam odit. At distinctio eveniet nesciunt natus blanditiis error aperiam inventore provident veniam harum.
            Cum alias
            natus quaerat eligendi mollitia distinctio iusto cumque, earum hic, dolorum incidunt impedit, adipisci
            accusamus
            facilis quam dolores voluptate at illum a! Temporibus.</p>
    </div>
    <footer class="center">
        <p>My copyright. 2023.</p>
    </footer>
</body>

</html>