<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="center">
        <p class="header_text">Main page</p>
    </header>
    <div class="content center">
        <p class="text">Main page. Main page. Main page. Main page. Main page. Main page. Main page. Main page. Main
            page. Main page. Main page. Main page. Main page. Main page. Main page. Main page. Main page. Main page.
            Main page.</p>
    </div>
    <footer class="center">
        <p>My copyright. 2023.</p>
    </footer>
</body>

</html>